# CONTROL STRUCTURES

# 1) Write a python program to find N prime numbers

In [1]:
# a function to evaluate whether the given parameter is a prime or not
def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True


N = int(input("Enter a number: "))

prime_nums=[]
for i in range(2, N):
    if isprime(i):
       prime_nums.append(i)
print(prime_nums)

Enter a number: 70
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

# 2) Write the python code that calculates the salary of an employee

In [1]:
# prompt the user to enter the Basic Salary, HRA, TA and DA
# Add these componenets to calculate the Gross Salary
# Also, deduct 10% of salary from gross salary to be paid as tax
# And display gross minus tax as net salary

In [3]:
Basic_sal = float(input("Enter the Base Salary"))
HRA = int(input("Enter the HRA"))
TA = int(input("Enter the TA"))
DA = int(input("Enter the DA"))

Gross_salary = Basic_sal + float(HRA) + float(TA) + float(DA)

net_salary = Gross_salary - (float(Basic_sal)*0.1)

print("The net salary of an employee is after " + str(float(Basic_sal)*0.1)+ " tax deduction is: "+str(Gross_salary))

Enter the Base Salary27000.80
Enter the HRA7000
Enter the TA2500
Enter the DA6250
The net salary of an employee is after 2700.08 tax deduction is: 42750.8

# 3) Write a python program to search for a sttring in the given list

In [6]:
abt_python = "Python: A versatile, high-level programming language known for its simplicity and readability"
# to search a work in python we need to use either (in) or find() method

word1 = "versatile"
word2 = "c++"

# unsing in 
if word1 in abt_python:
    print(f"'{word1}', found in abt_pthon")
else:
    print(f"'{word1}', not found in abt_pthon")
    
# unsig find()
ind = abt_python.find(word2)

if(ind != -1):
    print(f"'{word2}', found in abt_pthon")
else:
    print(f"'{word2}', not found in abt_pthon")

'versatile', found in abt_pthon
'c++', not found in abt_pthon

# 4) write a python function that accepts a string and calculate the number of uppercase and lowercase letters

In [14]:
def letter_count(name):
    upper_count =0
    lower_count =0
    for i in name:
        if i.isupper():
            upper_count += 1
        elif i.islower():
            lower_count += 1
            
    print("\nUpper case letter count is: "+str(upper_count))
    print("\nLower case letter count is: "+str(lower_count))
            
            
name = input("Enter a string with upper and lower case letters\n\n")
letter_count(name)

Enter a string with upper and lower case letters

ThIs Is A StRiNg WiTh MiXeD CaSe LeTtErS.

Upper case letter count is: 18

Lower case letter count is: 15

# 5) write a program to display the sum of odd numbers and evem numbers that fall between 12 and 37

In [7]:
# we have to take two seperate variables that hold odd_val_sum and even_val_sum
even_sum = 0
odd_sum =0
for i in range(12, 38):
    if i%2 ==0:
        even_sum += i
    else:
        odd_sum += i
        
print("Even sum is: "+ str(even_sum))
print("Odd sum is: "+ str(odd_sum))

Even sum is: 312
Odd sum is: 325

# 6) write a python program to print the table of any number

In [15]:
num = int(input("Enter a number : "))
print("\nprinting "+str(num)+" table \n")
int(num)

for i in range(1, 11):
    res = num*i
    print(f"{num} * {i} = {res}\n")

Enter a number : 5

printing 5 table

5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

5 * 10 = 50

# 7) write a pytho program to sum the first 10 prime numbers

In [19]:
#  for this we have take frist 10 prime numbers and sum all of them 

def isprime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

result =0
primes = []
i =2

while len(primes) < 10:
    if isprime(i):
        primes.append(i)
        result += i
    i += 1

print(primes)
print(f"The sum of first 10 primes is : {result}")

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
The sum of first 10 primes is : 129

# 8) write a python program to implement arithemetic operations using nested if statement

In [27]:
# using nested if conditions 
def calculator(num1, optr, num2):
    result = 0
    if optr == "+":
        result = num1+num2
    elif optr == "-":
        result = num1-num2
    elif optr == "*":
        result = num1*num2
    elif optr == "/":
        if num2!=0:
            result = num1/num2
        else:
            result = "undefined"
            
    else:
        result = "Unknown Symbol Entered"
    
    return result

num1 = int(input("Enter the first number\n"))
optr = input("Enter the operator\n")
num2 = int(input("Enter the second number\n"))

ans = calculator(num1, optr, num2)
print(f"{num1} {optr} {num2} is : {ans}\n")

Enter the first number
25
Enter the operator
*
Enter the second number
3
25 * 3 is : 75

# 9) write a python program to take the temperature in celsius and convert it into fahrenheit

In [37]:
temp = int(input("enter the celsius degrees"))
fahrenheit = (temp * 9/5) + 32
print(f"{temp} celsius concerted in to {fahrenheit} fahrenheit temperaure")

enter the celsius degrees43
43 celsius concerted in to 109.4 fahrenheit temperaure

# 10) write a python program

In [35]:
# to find a maximum and minum number in a list 
# without using inbuilt functions

nums = [10, 20, 442, 38, 91, 5, 25, 87, 90, -62]
maxi = 0
mini = 0

for i in nums:
    if maxi<i:
        maxi = i
    if mini >i:
        mini = i

print(f"The maximum in the list is: {maxi}")
print(f"The minimum in the list is: {mini}")

The maximum in the list is: 442
The minimum in the list is: -62

# 11) write a program in python

In [36]:
# to print out the number of seconds in 30-day month 30 days,
# 24 hours in a day , 60 minutes per day, 60 sec in a minute

days_a_month = 30
hours_a_day = 24
mins_an_hour = 60
secs_a_min = 60

result = days_a_month * hours_a_day * mins_an_hour * secs_a_min
print(f"secons in 30-day month is : {result}")

secons in 30-day month is : 2592000

# 12) write a python program to print number of seconds in a year

In [38]:
months = 30
days = 24
hours = 24
mins = 60
secs = 60

result = months * days * hours * mins * secs
print(f"the number of seconds in a year is : {result}")

the number of seconds in a year is : 62208000

# 13) A high-speed train can travel at an average speed of 150mph
how long will it take a train travelling at this speed to travel from 
london to glasgow which is 414 miles away

In [40]:
# as we know the formula speed = distance/ time
#  as we need time then time = distance/speed
speed = 150
distance = 414

time = distance/speed

print(f"the time taken to travel from londom to glasgow is {time:.3f}")

the time taken to travel from londom to glasgow is 2.760

# 14) write a python program that defines a variable called days_in_each_school_year
and assign 192 to the variable 
the program should then print out the total hours that you spend in school 
from year 7 to 11, if each day you spend 6 hours in school days_in_each_school_year = 192

In [41]:
days_in_each_school_year = 192
no_of_years = 11-7
no_of_hours = 6

total_hours = no_of_years * days_in_each_school_year * no_of_hours

print(f"Total hours spent in school from year 7 - year 11 is {total_hours} ")

Total hours spent in school from year 7 - year 11 is 4608

# 15) If the age of Ram, Sam and Khan are input through the keyboard
write a python program to determine the eldest and youngest of the three

In [45]:
ram = int(input("Enter the age of Ram "))
sam = int(input("Enter the age of Sam "))
khan = int(input("Enter the age of Khan "))

# using min and max inbuilt functions to solve the problem
elder = max(ram, sam, khan)
younger = min(ram, sam, khan)

print(f"\nElder of the three is {elder}")
print(f"\nYounger of the three is {younger}")

Enter the age of Ram 23
Enter the age of Sam 19
Enter the age of Khan 21

Elder of the three is 23

Younger of the three is 19

# 16) write a python program to rotate a list by right n times
with and without slicing techinique

In [47]:
# unsing slicing technique
def slicing_rotate(lst, n):
    n = n % len(lst) 
    return lst[-n:] + lst[:-n]

# without slicing
def non_slicing_rotate(lst, n):
    n = n % len(lst)  
    rotated_list = [0] * len(lst)
    for i in range(len(lst)):
        rotated_list[(i + n) % len(lst)] = lst[i]
    return rotated_list


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


n = int(input("Enter num of rotations needed: "))

ans1 = slicing_rotate(nums, n)
print("Rotated using slicing:", ans1)

ans2 = slicing_rotate(nums, n)
print("Rotated without slicing:", ans2)

Enter num of rotations needed: 4
Rotated using slicing: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]
Rotated without slicing: [7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

# 17) Python program to print the pattersn given below

# i) its  a pascal triangle the value

In [52]:

# is dependent on the summation of above two cells

def pattern1(num_rows):
    ans = []
    for i in range(num_rows):
        row = [1]  
        if i > 0:
            for j in range(1, i):
                element = ans[i - 1][j - 1] + ans[i - 1][j]
                row.append(element)
            row.append(1) 
        ans.append(row)

    return ans

def print_(ans):
    max_width = len(' '.join(map(str, ans[-1])))  
    for row in ans:
        formatted_row = ' '.join(map(str, row))
        print(formatted_row.center(max_width))

num_rows = int(input("Enter the number of rows "))
print("\n")
triangle = pattern1(num_rows)
print_(triangle)

Enter the number of rows 9


          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1
    1 5 10 10 5 1
   1 6 15 20 15 6 1
 1 7 21 35 35 21 7 1
1 8 28 56 70 56 28 8 1

# ii) Given pattern2 is a right angle triangle

In [59]:
num = int(input("ENter the number pf rows "))
print("\n")

for i in range(0, num):
    for j in range(0, i):
        print("* ", end="")
    print(" ")

ENter the number pf rows 6



*
* *
* * *
* * * *
* * * * *

# iii) Given pattern is a pyramid with spaces and asterisks

In [66]:
num = int(input("Enter the number of rows "))
print("\n")

# for i in range(1, num + 1):
#     for j in range(1, num - i+1 ):
#         print(" ", end="")

#     for k in range(1, i):
#         print("*", end="")

#     print()
    

for i in range(num):
    print(" " * (num - i - 1) + "* " * (i + 1))

Enter the number of rows 7


      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

# iv) right angle triangle with a string

In [75]:
title = input("Enter a title : ")

for i in range(len(title)):
    print(title[:i+1])

Enter a title : Mphasis!
M
Mp
Mph
Mpha
Mphas
Mphasi
Mphasis
Mphasis!