# 1.Manipulate using list.
i)  To add new elements to the end of the list.
ii) To reverse elements in the list.
iii) To display the same list of elements multiple times.
iv)  To concatenate two list
v)  To sort the elements in the list in ascending order.

In [8]:
#i) To add new elements to the end of the list.
lst=[1,9,32,1,2]
print("Before adding new elements")
print(lst)
lst.append(99)
print("After adding new elements")
print(lst)

Before adding new elements
[1, 9, 32, 1, 2]
After adding new elements
[1, 9, 32, 1, 2, 99]

In [13]:
#  ii) To reverse elements in the list.
lst=[1,9,32,1,2]

# process 1
print(lst[::-1])

# process 2
lst.reverse()
print(lst)

[2, 1, 32, 9, 1]
[2, 1, 32, 9, 1]

In [17]:
# iii) To display the same list of elements multiple times.
lst=[1,9,32,1,2]
print(lst*5)

[1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2, 1, 9, 32, 1, 2]

In [26]:
# iv) To concatenate two list
l1=[1,2,3,4]
l2=[5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
# v) To sort the elements in the list in ascending order.
lst=[1,9,32,1,2]
lst.sort()
print(lst)

[1, 1, 2, 9, 32]

# Write a python program to do in the Tuples
i)  Manipulate using tuples
ii) To add new elements to the end of the tuples
iii) To reverse elements in the tuple
iv) To display the elements of the same tuple multiple times.
v) To concatenate two tulples.
vi) To sort the elements in the list in ascending order.

In [27]:
#  i)  Manipulate using tuples
# ii) To add new elements to the end of the tuples
t=(1,9,2,5,6)
t.append(4)
print(t)   #We can't add elements in tuple because tuple is immutable.

AttributeError: 'tuple' object has no attribute 'append'

In [35]:
# iii) To reverse elements in the tuple
t=(1,9,2,5,6)

print(t[::-1])

(6, 5, 2, 9, 1)

In [36]:
# iv) To display the elements of the same tuple multiple times.
t=(2,1,3,42,56,8)
print(t*2)

(2, 1, 3, 42, 56, 8, 2, 1, 3, 42, 56, 8)

In [39]:
# v) To concatenate two tulples.
t=(1,2,4,5,6)
t2=(7,8,9,0,2)
print(t+t2)

(1, 2, 4, 5, 6, 7, 8, 9, 0, 2)

In [45]:
# vi) To sort the elements in the list in ascending order.
t=(7,8,9,0,2)
t1=sorted(t)
print(t1)

[0, 2, 7, 8, 9]

# 3. Write a python program to implement the following using list.

i)   Create a list with integers (minimum 10 numbers)

ii)  How to display the last number in the list

iii) Command for displaying the values from the list [0:4]

iv)  Command for displaying the values from the list [2:]

v)  Command for displaying the values from the list[:6]

In [54]:
# i)   Create a list with integers (minimum 10 numbers)
n=10
#first process
l=[i for i in range(1,n+1)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
# ii)  How to display the last number in the list
l=[1,2,3,9,2,80,10]
print(l[-1])

10

In [57]:
# iii) Command for displaying the values from the list [0:4]
l=[1,2,3,9,2,80,10]
print(l[0:4])

[1, 2, 3, 9]

In [58]:
# iv)  Command for displaying the values from the list [2:]
l=[1,2,3,9,2,80,10]
print(l[2:])

[3, 9, 2, 80, 10]

In [60]:
# v)  Command for displaying the values from the list[:6]
l=[1,2,3,9,2,80,10,11,2,3,5]
print(l[:6])

[1, 2, 3, 9, 2, 80]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)

i) To display the elements 10 and 50 from tuple1

ii) To display the length of a tuple1.

iii) To find the minimum element from tuple1. 

iv) To add all elements in the tuple1.

v) To display the same tuple1 multiple times.

In [61]:
# i) To display the elements 10 and 50 from tuple1
tuple1 = (10,50,20,40,30)
print(tuple1[:2])

(10, 50)

In [62]:
# ii) To display the length of a tuple1.

len(tuple1)

5

In [63]:
# iii) To find the minimum element from tuple1. 

print(min(tuple1))

10

In [65]:
# iv) To add all elements in the tuple1.

print(sum(tuple1))

150

In [67]:
# v) To display the same tuple1 multiple times.
n=3
print(tuple1*n)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:

i) To calculate the length of a string

ii) To reverse words in a string

iii) To display the same string multiple times

iv) To concatenate two strings

v) Str1="South India", using string slicing to display "India"

In [71]:
# i) To calculate the length of a string
s="Mphasis Learning Academy MLA "
print(len(s))

29

In [72]:
# ii) To reverse words in a string
print(s[::-1])

 ALM ymedacA gninraeL sisahpM

In [74]:
# iv) To display the same string multiple times

print(s*3)

Mphasis Learning Academy MLA Mphasis Learning Academy MLA Mphasis Learning Academy MLA

In [75]:
# iv) To concatenate two strings
s1="I am learning AI ML"
s2=" in Mphasis Learning Academy"
print(s1+s2)

I am learning AI ML in Mphasis Learning Academy

In [76]:
# v) Str1="South India", using string slicing to display "India"

Str1="South India"
print(Str1[5:])

 India

# 6 Perform the following:

i) Creating the Dictionary.

ii) Accessing values and keys in the Dictionary.

iii) Updating the dictionary using a function.

iv) Clear and delete the dictionary values.

In [85]:
# i) Creating the Dictionary.

dict={"EMP_ID":"1234","EMP_NAME":"Dileep"}
print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Dileep'}

In [86]:
# ii) Accessing values and keys in the Dictionary.

d=dict["EMP_ID"] #By using key we can access in dictonaries.
print(d)

1234

In [87]:
# iii) Updating the dictionary using a function.

dic={"EMP_NAME":"Kumar","Manger":"Dharshan"}
dict.update(dic)
print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Kumar', 'Manger': 'Dharshan'}

In [89]:
# iv) Clear and delete the dictionary values.
del dict["Manger"]
print(dict)

dict.clear()

print(dict)

{'EMP_ID': '1234', 'EMP_NAME': 'Kumar'}
{}

# 7. Python program to insert a number to any position in a list.

In [90]:
l=[1,2,6,3,5,1,44]
l.insert(3,22)
print(l)

[1, 2, 6, 22, 3, 5, 1, 44]

# 8. Python program to delete an element from a list by index.

In [95]:
l=[1,2,6,3,5,1,44]
del l[2]
print(l)

[1, 2, 3, 5, 1, 44]

# 9. Write a program to display a number from 1 to 100.

In [97]:
n=int(input("To display 1 to 100"))
for i in range(1,n+1):
    print(i,end=" ")

To display 1 to 100100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a Python program to find the sum of all items in a tuple.

In [98]:
t=(1,2,3,4,5,33,6,7,88,99,100)
print(sum(t))

348

In [ ]:
# 11. Create a dictionary containing three lambda functions square, cube and square root

i) Eg. dict = ('Square': function for squaring, 'Cube': function for cube, 'Squareroot':

function for square root)

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

In [105]:
# i) Eg. dict = ('Square': function for squaring, 'Cube': function for cube, 'Squareroot':

# function for square root)

import math

dict = {'Square': lambda x:x**2, 'Cube': lambda x:x**3, 'Squareroot':lambda x:math.sqrt(x)}

# ii) Pass the values (input from the user) to the functions in the dictionary respectively.

x=int(input())
results={key:value(x) for key,value in dict.items()}
print(results)

# iii) Then add the outputs of each function and print it.

s=sum(results.values())
print(s)

4
{'Square': 16, 'Cube': 64, 'Squareroot': 2.0}
82.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase

Is=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [124]:
ls=['hello', 'Dear', 'hOw', 'ARe', 'You']


result=[i for i in ls if len(i) > 1 and  i[1].isupper()]
print(result)

['hOw', 'ARe']

# 13. A dictionary of names and their weights on earth is given. Find how much they will weigh on the

moon. (Use map and lambda functions) Formula: wMoon=(wEarth*GMoon)/GEarth
i) #Weight of people in kg

WeightOnEarth ={'John':45, 'Shelly':65, 'Marry':35}

ii)#Gravitational force on the Moon: 1.622 m/s2

GMoon= 1.622

iii) #Gravitational force on the Earth: 9.81 m/s2

GEarth=9.81

In [142]:
WeightOnEarth ={'John':45, 'Shelly':65, 'Marry':35}

moon_weights_values = list(map(lambda w: (w * GMoon) / GEarth, WeightOnEarth.values()))

WeightOnMoon = {name: weight for name, weight in zip(WeightOnEarth.keys(), moon_weights_values)}
print(WeightOnMoon)

{'John': 7.440366972477065, 'Shelly': 10.747196738022426, 'Marry': 5.786952089704383}

# Control Structures:

# 1. Write a python program to find the first N Prime numbers.

In [21]:
start=int(input())
end=int(input())
for num in range(start,end+1):
    if num > 1:
        is_prime=True
        for i in range(2,num):
            if num%i==0:
                is_prime=False
                break
    if is_prime:
        print(num,end=" ")

1
100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the Gross Salary to be paid as tax and display gross minus tax as net salary.

In [28]:
Basic_salary=float(input("Enter the basic salary: "))
HRA=float(input("House rent allowance"))
TA=float(input("Travelling Allowance"))
Gross_Salary=Basic_salary+HRA+TA
tax=0.10*Gross_Salary
net_salary=Gross_Salary-tax
print("Gross_Salary:", Gross_Salary,"\nnet_salary:", net_salary)

Enter the basic salary: 27000
House rent allowance3000
Travelling Allowance2000
Gross_Salary: 32000.0
net_salary: 28800.0

# 3. Write a python program to search for a string in the given list.

In [33]:
str=["Mphasis","Learning","Academy","Dileep","Kumar"]
Searching=input()
if Searching in str:
    print("{} Found in list".format(Searching))
else:
    print("{} Not Found in the list".format(Searching))

Learning
Learning Found in list

# 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters

In [41]:
u_count=0
L_count=0
str=input()
for char in str:
    if char.isupper():
        u_count+=1
    else:
        L_count+=1
print("upper count :",u_count,"\nLower count: ",L_count)

Mphasis Learning Academy
upper count : 3
Lower count:  22

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [48]:
start=int(input("startig range :"))
end=int(input("ending range :"))
even_sum=0
odd_sum=0
for num in range(start,end+1):
    if num%2==0:
      
        even_sum+=num
       
    else:
        odd_sum+=num
print("Sum of Even numbers between 12 and 37:",even_sum)
print("Sum of Odd numbers between 12 and 37:",odd_sum)

startig range :12
ending range :37
Sum of Even numbers between 12 and 37: 312
Sum of Odd numbers between 12 and 37: 325

# 6. Write a python Program to print the table of any number.

In [53]:
n=int(input())
for i in range(1,11):
    mul=n*i
    print(n, "*", i ,"=" , mul)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# 7. Write a Python program to sum the first 10 prime numbers.

In [60]:
start=int(input("Starting range :"))
end=int(input("Ending range : "))
sum=0
for num in range(start,end+1):
    if num > 1:
        is_prime=True
        for i in range(2,num):
            if num%i==0:
                is_prime=False
                break
    if is_prime:
        sum+=num
print("the sum of first 10 prime numbers is :",sum)

Starting range :1
Ending range : 10
the sum of first 10 prime numbers is : 17

# 8. Write a python program to implement arithmetic operations using nested if statement

In [63]:
a=int(input())
b=int(input())
print("a+b=",a+b)
print("a-b=",a-b)
print("a*b=",a*b)
print("a/b=",a/b)
print("a%b=",a%b)
print("a//b=",a//b)
print("a**b=",a**b)

2
10
a+b= 12
a-b= -8
a*b= 20
a/b= 0.2
a%b= 2
a//b= 0
a**b= 1024

# 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [66]:
Celsius=float(input())
Fahrenheit=(Celsius * 9/5) + 32
print("{}° Celsius is equivalent to {}° Fahrenheit.".format(Celsius,Fahrenheit))

55
55.0° Celsius is equivalent to 131.0° Fahrenheit.

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function

In [75]:
l=[1,2,88,9,12,5,0,66]
min=l[0]
max=l[0]
for i in range(len(l)):
    if min > l[i]:
        min=l[i]

for i in range(len(l)):
    if max < l[i]:
        max=l[i]
print("The minimum values in list:",min)    
print("The maximum values in list:",max)

The minimum values in list: 0
The maximum values in list: 88

# 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [81]:
days_in_month=30
Hours_in_day=24
Minutes_in_hour=60
Seconds_in_minute=60
total_seconds=days_in_month*Hours_in_day*Minutes_in_hour*Seconds_in_minute
print("The total seconds in 30 days",total_seconds)

The total seconds in 30 days 2592000

# 12. Write a program in python to print out the number of seconds in a year.

In [83]:
days_in_year=365
Hours_in_day=24
Minutes_in_hour=60
Seconds_in_minute=60
total_seconds=days_in_year*Hours_in_day*Minutes_in_hour*Seconds_in_minute
print("The total seconds in 365 days",total_seconds)

The total seconds in 365 days 31536000

# 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train  travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [86]:
speed=150
distance=414
Time = distance/speed
print(Time,"Hours")

2.76 Hours

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days in each school year 192

In [87]:
days_in_each_school_year = 192
hours_in_each_school_day = 6
total_school_years = 5 

total_hours = days_in_each_school_year * hours_in_each_school_day * total_school_years

print("The total hours spent in school from year 7 to year 11 is {} hours.".format(total_hours))

The total hours spent in school from year 7 to year 11 is 5760 hours.

# 15. if the age of Ram, Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.

In [90]:
Ram=int(input("age:"))
Sam=int(input("age:"))
Khan=int(input("age:"))
if Ram > Sam and Ram > Khan:
    print("Eldest is Ram",Ram)
elif Sam > Ram and Sam > Khan:
    print("Eldest is Sam",Sam)
else:
    print("Eldest is Khan",Khan)
    
if Ram < Sam and Ram < Khan:
    print("Youngest is Ram",Ram)
elif Sam < Ram and Sam < Khan:
    print("Youngest is Sam",Sam)
else:
    print("Youngest is Khan",Khan)

age:22
age:12
age:44
Eldest is Khan 44
Youngest is Sam 12

# 16. Write a python program to rotate a list by right n times with and without slicing technique

In [96]:
lst = [1, 2, 3, 4, 5]
n = int(input("Enter number of rotations: "))

# n = n % len(lst) 

for i in range(n):
    lst.insert(0, lst.pop())

print("Rotated list:", lst)

Enter number of rotations: 7
Rotated list: [4, 5, 1, 2, 3]

# 17.Python program to print the patterns given below:

In [101]:
n=int(input())
for i in range(n):
    for j in range(i):
        print('*',end=" ")
    
    print()

10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [1]:
def generate_pascals_triangle(n):
    """Generate n rows of Pascal's Triangle."""
    result = []
    
    for i in range(n):
        if i == 0:
            result.append([1])
        else:
            previous_row = result[-1]
            new_row = [1]
            
            # Generate the middle numbers in the row
            for j in range(len(previous_row) - 1):
                new_row.append(previous_row[j] + previous_row[j + 1])
            
            new_row.append(1)
            result.append(new_row)
    
    return result

# Generate and display 7 rows of Pascal's Triangle
triangle = generate_pascals_triangle(7)
for row in triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]

In [2]:
word = "Python"
for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python