In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [4]:
data=pd.read_csv('housing.csv')

In [5]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [6]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
data=data.fillna(value=1)
data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [8]:
x=data.iloc[:,0:3]
x

       longitude  latitude  housing_median_age
0        -122.23     37.88                41.0
1        -122.22     37.86                21.0
2        -122.24     37.85                52.0
3        -122.25     37.85                52.0
4        -122.25     37.85                52.0
...          ...       ...                 ...
20635    -121.09     39.48                25.0
20636    -121.21     39.49                18.0
20637    -121.22     39.43                17.0
20638    -121.32     39.43                18.0
20639    -121.24     39.37                16.0

[20640 rows x 3 columns]

In [10]:
y=data.iloc[:,3:4]
y

       total_rooms
0            880.0
1           7099.0
2           1467.0
3           1274.0
4           1627.0
...            ...
20635       1665.0
20636        697.0
20637       2254.0
20638       1860.0
20639       2785.0

[20640 rows x 1 columns]

In [11]:
import sklearn
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.25,random_state=42)

In [12]:
xtrain.shape

(15480, 3)

In [13]:
base_reg = LinearRegression()
base_reg.fit(xtrain,ytrain)
base_pred = base_reg.predict(xtest)
from sklearn.metrics import r2_score
print("R-square\t",r2_score(ytest,base_pred))

R-square	 0.13790039270985688

In [14]:
print("*************Lasso Regression Model*************")
print()
lr=Lasso(alpha=0.01)
lr.fit(xtrain,ytrain)
lr_pred=lr.predict(xtest)
print("Lasso Train_score:\t", lr.score(xtrain,ytrain))
print()
print("Lasso Test_score:\t", lr.score(xtest,ytest))
print()
print("Lasso R-Square:\t",r2_score(ytest,lr_pred))

*************Lasso Regression Model*************

Lasso Train_score:	 0.13500872154908283

Lasso Test_score:	 0.13790001410761088

Lasso R-Square:	 0.13790001410761088

In [15]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, lr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, lr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,lr_pred))

Mean Squared Error: 	 4088758.168200609

RMSE: 	 2022.067795154408

Mean Absolute Error: 	 1245.7944971339834

In [16]:
rr=Ridge(alpha=0.01)
rr.fit(xtrain,ytrain)
rr_pred=rr.predict(xtest)
print("Lasso Train_score:\t", rr.score(xtrain,ytrain))
print()
print("Lasso Test_score:\t", rr.score(xtest,ytest))
print()
print("Lasso R-Square:\t",r2_score(ytest,rr_pred))

Lasso Train_score:	 0.13500872169147182

Lasso Test_score:	 0.1379003882059845

Lasso R-Square:	 0.1379003882059845

In [17]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
print('Mean Squared Error: \t', mean_squared_error(ytest, rr_pred))
print()
print('RMSE: \t', np.sqrt(mean_squared_error(ytest, rr_pred)))
print()
print("Mean Absolute Error: \t",mean_absolute_error(ytest,rr_pred))

Mean Squared Error: 	 4088756.393931028

RMSE: 	 2022.0673564278288

Mean Absolute Error: 	 1245.793600259171